@import "../../global.css";

.back-btn {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    position: absolute;
    top: 25px;
    left: 55px;

    a {
        font-size: 40px;
    }
}

.back-btn:hover {
    opacity: 1;
}

.profile-content-container {
    margin: 0 auto;
    width: 70%;
    padding: 50px 35px;
    background-color: var(--background-accent);
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
}
