@import "../../global.css";

.item-data-div {
    width: 170px;

    .title {
        font-size: 1.1em;
        max-height: 2.3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .id {
        color: var(--primary-color);
        font-size: .8em;
    }

    .release {
        margin-top: 15px;
        opacity: .7;
    }
}
