@import "../../global.css";

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.profile-info {
    opacity: .9;

    h2 {
        font-size: 1.7rem;
    }

    >p {
        color: var(--primary-color);
    }
}

.profile-dates {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    opacity: .8;
    margin-top: 25px;
}

.user-movies-info {
    padding: 15px;

    p {
        display: flex;
        width: 180px;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
    }

    span {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}
