@import "../../global.css";

body {
    background-color: var(--background-color);
}

.container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 430px;
    height: 70vh;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, .5);
}

.form-container .header {
    text-align: center;
    color: var(--primary-accent);
}

.form-container .paragraph {
    text-align: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, .8);
}

.image-container {
    background-color: var(--primary-accent);
    width: 25vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 25px 30px;
    width: 30vw;
}

.toggle-container {
    /*
    position: absolute;
    bottom: 20px;
    left: auto;
    right: auto;
    */
    text-align: center;
}
